* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Main Theme Colors */
  --primary: #1b5e20;
  --primary-light: #43a047;
  --primary-bg: #f0fdf4; /* Hover/Active background */

  --secondary: #2c3e50;
  --accent: #1565c0;
  --primary-lightest: #e8f5e9;
  --neutral-light: #cccccc;

  /* Status & Action Colors */
  --danger: #d32f2f;
  --danger-light: #fff5f5;
  --danger-border: #feb2b2;
  --danger-hover: #feb2b2;
  --warning: #f39c12;
  --warning-light: #fef3c7;

  /* Neutral Colors */
  --bg-color: #f4f7f6;
  --card-bg: #ffffff;
  --border-color: #edf2f7;

  /* Text Colors */
  --text-main: #333333;
  --text-muted: #7f8c8d;
  --text-nav: #7f8c8d;

  /* Layout Settings */
  --sidebar-width: 240px;
  --radius: 12px;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

body {
  background-color: var(--bg-color);
  color: var(--text-main);
  margin: 0;
  font-family: "Inter", sans-serif;
}

.main-container {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  max-width: 600px;
  box-sizing: border-box;
}

/* Layout Styling */

.app-container {
  display: flex;
  min-height: 100dvh;
}

.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: var(--sidebar-width);
  background-color: var(--bg-color);
}

.inner-content {
  width: 100%;
  display: flex;
  max-width: 550px;
  padding: 20px 15px;
  flex-direction: column;
}

/*Layout Mobile Responsive */
@media (max-width: 768px) {
  .content-wrapper {
    margin-left: 0;
    margin-bottom: 70px;
  }
  .inner-content {
    padding: 10px;
    max-width: 100%;
  }
}
