.bannerContainer {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  box-sizing: border-box;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  border: 1px solid var(--primary-light);
}

.title {
  font-weight: 800;
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 8px;
  color: var(--primary);
  text-transform: uppercase;
}

.grid {
  gap: 8px;
  display: flex;
  justify-content: space-between;
}

.item {
  flex: 1;
  text-align: center;
}

.label {
  display: block;
  font-weight: 700;
  font-size: 0.55rem;
  color: var(--text-muted);
}

.time {
  display: block;
  font-weight: 800;
  font-size: 0.7rem;
  white-space: nowrap;
  color: var(--secondary);
}

@media (max-width: 360px) {
  .grid {
    gap: 4px;
    flex-direction: column;
  }
  .item {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
  }
}
